@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Using your specific hex codes */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-dg: #1d2025;
  --color-dg-light: #3a3f47;
  --color-primary: #d7eb6e;
  --color-secondary: #d0d0d0;
  --color-dgl: #292d32;

  /* Tip: If you want to overwrite the default Tailwind 'primary' 
     (if you're using a plugin that defines one), 
     ensure there are no spaces or hidden characters.
  */
}

.feedback-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-left: -20px;
}

/* hide all bullets */
.feedback-pagination .swiper-pagination-bullet {
  display: none;
}

/* show only active bullet */
.feedback-pagination .swiper-pagination-bullet-active {
  display: block;
  width: 120px;
  height: 6px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.25);
  position: relative;
  overflow: hidden;
}

/* animated fill bar */
.feedback-pagination .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #d7eb6e;
  transform: scaleX(0);
  transform-origin: left;
  animation: fillBar 0.8s ease forwards;
}

@keyframes fillBar {
  to {
    transform: scaleX(1);
  }
}
/* .areas-swiper .swiper-slide {
  transform: scale(0.85);
  transition: all 0.6s ease;
  opacity: 0.4;
}

.areas-swiper .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
} */